.navi {
   margin: 20px auto;
   background-color: rgb(183, 191, 190);
   text-align: center;
   padding: 30px;
   font-size: 2em;
   font-weight: bold;
   color: white;
   box-shadow: 0px 0px 10px gainsboro 0.5;
}