.searchContainer {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  font-size: 1.5em;
  color: rgb(95, 95, 95);
}
